<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section id="main-head" class="canvas">
</section>
<div class="container-fluid mt-3">
    <div class="text-intro">
        <h2>𝒜𝒹𝒹 𝒶𝓇𝓉</h2>
    </div>
    <hr class="bg-resev hr-2"/>
    <form class="w-50 mx-auto" enctype="multipart/form-data" th:method="post" th:action="@{/service/art}"
          th:object="${viewModel}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'test-danger'">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
            <small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('author')}? 'text-danger'">
            <label for="author">Author</label>
            <input type="text" class="form-control text-input" th:field="*{author}" id="author">
            <small th:each="error : ${#fields.errors('author')}" th:text="${error}"></small>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="art-imageUrl">Image</label>
            <input type="file" id="art-imageUrl" class="form-control" th:field="*{imageUrl}" required/>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
            <label for="description">Description</label>
            <textarea type="text" class="form-control text-input" th:field="*{description}" id="description">
            </textarea>
            <small th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
        </div>
        <div class=" form-group" th:classappend="${#fields.hasErrors('painted')}? 'text-danger'">
            <label for="painted" class="col-sm-2 col-form-label">Painted</label>
            <input type="date" class="form-control" id="painted" th:field="*{painted}"
                   placeholder="yyyy">
            <small th:each="error : ${#fields.errors('painted')}" th:text="${error}"></small>
        </div>
        <div class=" form-group" th:classappend="${#fields.hasErrors('width')}? 'text-danger'">
            <label for="width" class="col-sm-2 col-form-label">Width</label>
            <input type="number" class="form-control" id="width" th:field="*{width}">
            <small th:each="error : ${#fields.errors('width')}" th:text="${error}"></small>
        </div>
        <div class=" form-group" th:classappend="${#fields.hasErrors('height')}? 'text-danger'">
            <label for="height" class="col-sm-2 col-form-label">Height</label>
            <input type="number" class="form-control" id="height" th:field="*{height}">
            <small th:each="error : ${#fields.errors('height')}" th:text="${error}"></small>
        </div>

        <th:block th:include="~{services/add_part_estimate}"></th:block>
    </form>
</div>