<section id="main-head" class="canvas">
</section>
<section id="main-content" class="mt-2">
    <div class="text-intro">
        <h2 data-th-text="#{navbar_canvas.lang}"></h2>
    </div>
    <div class="columns features">
        <th:block th:each="canvas : ${viewModel}">
            <th:block th:include="~{services/success}"></th:block>

            <!--<div style="width: 100%;position: relative ">-->
            <div class="row mt-3">
                <div class="auction-imageUrl" style="float: left; width: 30%;">
                    <!--<a class="imageUrl-capture" href="#">-->
                    <div class="text-center">
                        <img th:src="${canvas.imageUrl}" alt="canvas">

                    </div>
                    <!--</a>-->
                </div>
                <div style="width: 50%; padding: 3%">
                    <div class="auction-details">
                        <h4 th:text="${canvas.name}"></h4>
                        from <p th:text="${canvas.author}"></p>
                    </div>
                    <div class="left-section" style="float: left;position: relative">
                        Estimate:
                        <span th:text="${canvas.estimateFrom}"></span>
                        -
                        <span th:text="${canvas.estimateTo}"></span>
                    </div>
                </div>
                <div class="btn-options">
                    <div>
                        <a class="btn btn-light" style="margin-top: 23%;width: 100%">BIT</a>
                    </div>
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                        <div style="margin-top: 12%">
                            <a class="btn btn-light" style="width: 100%"
                               th:href="@{/service/art/edit/{id}(id=${canvas.id})}">EDIT</a>
                        </div>
                        <div style="margin-top: 12%">
                            <a class="btn btn-light" style="width: 100%"
                               th:href="@{/service/art/delete/{id}(id=${canvas.id})}">DELETE</a>
                        </div>
                    </th:block>
                </div>

            </div>
        </th:block>
    </div>
</section>
