<th:block th:include="~{services/success}"></th:block>

<section id="main-content" style="padding-top: 5%">
    <div>
        <table id="userTable" class="display">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>birthday</th>
                <th>Gender</th>
                <th>Primary address</th>
                <th>SecondAddress</th>
                <th>Country</th>
                <th>email</th>
                <th>Card number</th>
                <!--<th>Username</th>-->
                <!--<th>Role</th>-->
                <th>Actions</th>
            </tr>
            </thead>
            <!-- Footer Table -->
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>birthday</th>
                <th>Gender</th>
                <th>Primary address</th>
                <th>SecondAddress</th>
                <th>Country</th>
                <th>email</th>
                <th>Card number</th>
                <!--<th>Username</th>-->
                <!--<th>Role</th>-->
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>

</section>