<div>
    <table id="userTable" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>birthday</th>
            <th>Gender</th>
            <th>Primary address</th>
            <th>SecondAddress</th>
            <th>email</th>
            <!--<th>Card number</th>-->
            <!--<th>Username</th>-->
            <!--<th>Role</th>-->
        </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>birthday</th>
            <th>Gender</th>
            <th>Primary address</th>
            <th>SecondAddress</th>
            <th>email</th>
            <!--<th>Card number</th>-->
            <!--<th>Username</th>-->
            <!--<th>Role</th>-->
        </tr>
        </tfoot>
    </table>
</div>
