<section id="main-head" class="wine">
</section>
<section id="main-content" class="mt-2">
    <div class="text-intro">
        <h2 data-th-text="#{navbar_wine.lang}"></h2>
    </div>
    <div class="columns features">
        <th:block th:each="wine : ${viewModel}">
            <!--<div style="width: 100%;position: relative ">-->
            <div class="row mt-3">
                <div class="auction-imageUrl" style="float: left; width: 30%;">
                    <a class="imageUrl-capture" href="#">
                        <img th:src="@{/images/wine_cover.jpg}">
                    </a>
                </div>
                <div style="width: 50%; float: left; padding: 3%">
                    <div class="auction-details" style="float: left;">
                        <h4 th:text="${wine.collection}"></h4>
                        <p th:text="${wine.name}"></p>
                    </div>
                    <div class="estimate">
                        <div class="left-section" style="float: left;position: relative">
                            Estimate:
                            <span th:text="${wine.estimateFrom}"></span>
                            -
                            <span th:text="${wine.estimateTo}"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="text-center btn btn-info" style="margin-top: 95%">BIT</button>
                </div>
                <div>
                    <a class="btn btn-light" th:href="@{/service/wine/edit/{id}(id=${wine.id})}">EDIT</a></div>
            </div>
        </th:block>
    </div>
</section>