<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title">
					<span class="login100-form-title-1">
						Register
					</span>
            </div>

            <form id="login100-form validate-form" class="w-50 mx-auto" th:method="post"
                  th:action="@{/user/edit}" th:object="${viewModel}">

                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
                    <span class="label-input100" for="firstName">Username</span>
                    <input class="input100" readonly th:name="${username}"
                           th:value="username">
                    <small th:each="error : ${#fields.errors('username')}" th:text="${error}"></small>
                </div>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('firstName')}? 'text-danger'">
                    <span class="label-input100" for="firstName">First Name</span>
                    <input class="input100"
                           type="text" th:field="*{firstName}" id="firstName"
                           placeholder="First Name..."
                           name="firstName" th:value="${firstname}">
                    <small th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></small>
                </div>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('middleName')}? 'text-danger'">
                    <span class="label-input100" for="middleName">Middle Name</span>
                    <input class="input100"
                           type="text" th:field="*{middleName}" id="middleName"
                           placeholder="Middle name..."
                           name="middleName" th:value="${middleName}">
                    <small th:each="error : ${#fields.errors('middleName')}" th:text="${error}"></small>
                </div>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('lastName')}? 'text-danger'">
                    <span class="label-input100" for="lastName">Last Name</span>
                    <input class="input100"
                           type="text" th:field="*{lastName}" id="lastName"
                           placeholder="Last name..."
                           name="lastName" th:value="${lastName}">
                    <small th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></small>
                </div>
                <br>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('birthday')}? 'text-danger'">
                    <span class="label-input100" for="birthday">Birthday</span>

                    <div class='input-group date' style="width: 50%" id='birthday'>
                        <input type='text' class="input100" name="birthday" th:value="${birthday}"/>
                        <span class="input100 input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <small th:each="error : ${#fields.errors('birthday')}" th:text="${error}"></small>
                </div>

                <br>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('gender')}? 'text-danger'">
                    <span class="label-input100" for="gender">Gender</span>
                    <select class="form-control" id="gender" th:field="*{gender}" name="gender">
                        <option disabled="true" selected="selected" value="">Select</option>
                        <option th:each="gender : ${T(org.com.esti.domain.entities.enums.Gender).valuΩes()}"
                                th:value="${gender}" th:text="${gender}"
                                th:selected="${viewModel.gender == gender}">
                        </option>
                    </select>
                </div>
                <br>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('primaryAddress')}? 'text-danger'">
                    <span class="label-input100" for="primaryAddress">Address</span>
                    <input class="input100"
                           type="text" th:field="*{primaryAddress}" id="primaryAddress"
                           placeholder="Address /card/..."
                           name="primaryAddress" th:value="${primaryAddress}">
                    <small th:each="error : ${#fields.errors('primaryAddress')}" th:text="${error}"></small>
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100" for="secondAddress">Address/second/</span>
                    <input class="input100"
                           type="text" id="secondAddress" placeholder="Address /optional/..."
                           name="secondAddress" th:value="${secondAddress}">
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100" for="cardNumber">Card number</span>
                    <input class="input100"
                           type="text" id="cardNumber" placeholder="card number"
                           name="cardNumber" th:value="${cardNumber}">
                </div>
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100" for="email">Email</span>
                    <input class="input100"
                           type="email" id="email" placeholder="Email..." name="email" th:value="${email}">
                    <small th:each="error : ${#fields.errors('email')}" th:text="${error}"></small>

                </div>

                <div class="container-login100-form-btn m-1">
                    <button type="submit" class="login100-form-btn">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#birthday').datetimepicker({
            viewMode: 'years',
            format: 'YYYY-MM-DD'
        });
    });
</script>