<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title">
					<span class="login100-form-title-1">
						Change password
					</span>
            </div>
            <form id="login100-form validate-form" class="w-50 mx-auto" th:action="@{/user/password}" method="post"
                  th:object="${viewModel}">
                <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100" data-th-text="oldPassword">Old password</span>
                    <input class="input100" type="text" name="oldPassword"  required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="New password is required">
                    <span class="label-input100">New password</span>
                    <input class="input100" type="password" name="newPassword" placeholder="Enter password" required>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Confirm new password">
                    <span class="label-input100">Confirm password</span>
                    <input class="input100" type="password" name="confirmPassword" placeholder="Enter password" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-1">
                    <button class="login100-form-btn">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>