<section id="main-head" class="private">
</section>
<section id="main-content" class="mt-2">
    <div class="text-intro">
        <h2 data-th-text="#{navbar_private_buy.lang}"></h2>
    </div>
    <div class="columns features mt-4">
        <div>
            <ul>
                <li><a th:href="@{#private_buy_for_sale}" data-th-text="#{private_buy_for_sale.lang}">
                </a></li>
                <li><a th:href="@{#private_buy_acquiring_an_object}"
                       data-th-text="#{private_buy_acquiring_an_object.lang}">
                </a></li>
                <li>
                    <a th:href="@{#private_buy_looking_to_acquire}"
                       data-th-text="#{private_buy_looking_to_acquire.lang}"></a>
                </li>
                <li><a th:href="@{#private_buy_type}" data-th-text="#{private_buy_type.lang}">

                </a></li>
                <li><a th:href="@{#private_buy_type}" data-th-text="#{private_buy_type.lang}">

                </a></li>
                <li><a th:href="@{#private_buy_identify_property}"
                       data-th-text="#{private_buy_identify_property.lang}">

                </a></li>
            </ul>
        </div>
        <div class="mt-4">
            <div class="" id="private_buy_for_sale">
                <h5 data-th-text="#{private_buy_for_sale.lang}">
                </h5>
                <p data-th-text="#{private_buy_for_sale_text.lang}">
                </p>
            </div>
            <div class="" id="private_buy_acquiring_an_object">
                <h5 data-th-text="#{private_buy_acquiring_an_object.lang}"></h5>
                <p data-th-text="#{private_buy_acquiring_an_object_text.lang}">
                </p>
            </div>
            <div class="" id="private_buy_looking_to_acquire">
                <h5 data-th-text="#{private_buy_looking_to_acquire.lang}">
                </h5>
                <p data-th-text="#{private_buy_looking_to_acquire_text.lang}">
                </p>
            </div>
            <div class="" id="private_buy_typer">
                <h5 data-th-text="#{private_buy_type.lang}">
                </h5>
                <p data-th-text="#{private_buy_type_text.lang}">

                </p>
            </div>
            <div class="" id="private_buy_identify_property">
                <h5 data-th-text="#{private_buy_identify_property.lang}">

                </h5>
                <p data-th-text="#{private_buy_identify_property_text.lang}">

                </p>
            </div>
        </div>
    </div>
</section>
