<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title">
					<span class="login100-form-title-1">
						Register
					</span>
            </div>

            <form id="login100-form validate-form" class="w-50 mx-auto" th:method="post"
                  th:action="@{/user/register}" th:object="${viewModel}">

                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
                    <span class="label-input100" for="firstName">Username</span>
                    <input class="input100"
                           type="text" th:field="*{username}" id="username"
                           placeholder="Username"
                           name="username">
                    <small th:each="error : ${#fields.errors('username')}" th:text="${error}"></small>
                </div>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('password')}? 'text-danger'">
                    <span class="label-input100" for="password">Password</span>
                    <input class="input100"
                           type="password" th:field="*{password}" id="password"
                           placeholder="Password..."
                           name="password">
                    <small th:each="error : ${#fields.errors('password')}" th:text="${error}"></small>

                </div>
                <div class="wrap-input100 validate-input m-b-26"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'text-danger'">
                    <span class="label-input100" for="confirmPassword">Confirm Password</span>
                    <input class="input100"
                           type="password" th:field="*{confirmPassword}" id="confirmPassword"
                           placeholder="Confirm Password..."
                           name="confirmPassword">
                    <small th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></small>

                </div>
                <div class="container-login100-form-btn m-1">
                    <button type="submit" class="login100-form-btn">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>